name: Update IP List

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable xvfb

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests selenium webdriver-manager cloudscraper pyvirtualdisplay DrissionPage undetected-chromedriver playwright beautifulsoup4
        playwright install
        playwright install-deps

    - name: Run script
      run: python main.py

    - name: Commit and push changes
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add .
        git commit -m "Auto update IP lists with soup parser" || echo "No changes to commit"
        git push
